.form-control:focus {
    box-shadow: none;
    border-color: var(--bs-dark);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}